# Workshop 3 - Decisoin Tree
# By - Siddhartha Shrestha (NP03A190145)

In [1]:
# Necessary Imports
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

In [2]:

dataset = pd.read_csv('samplecar.csv')
dataset

    Type Price  Buy
0    SUV     H   No
1     HB     H   No
2     HB     H  Yes
3     HB     L   No
4  SEDAN     H  Yes
5  SEDAN     L  Yes
6    SUV     L   No
7  SEDAN     H  Yes
8     HB     L  Yes
9    SUV   Hot  Yes

In [6]:
df_price= dataset.iloc[:,:2]

df_price

    Type Price
0    SUV     H
1     HB     H
2     HB     H
3     HB     L
4  SEDAN     H
5  SEDAN     L
6    SUV     L
7  SEDAN     H
8     HB     L
9    SUV   Hot

## Identify features and label and seperate it

In [5]:
# identify features and label and seperate it
features =  dataset.iloc[0:, 0:2]
target =  dataset.iloc[0:, 2:3]

# sanity check
#assert features.shape[0] == target.shape[0], " len(features) == len(target)"

In [6]:
print(features)

    Type Price
0    SUV     H
1     HB     H
2     HB     H
3     HB     L
4  SEDAN     H
5  SEDAN     L
6    SUV     L
7  SEDAN     H
8     HB     L
9    SUV   Hot

In [7]:
print(target)

   Buy
0   No
1   No
2  Yes
3   No
4  Yes
5  Yes
6   No
7  Yes
8  Yes
9  Yes

In [8]:
type(target)

pandas.core.frame.DataFrame

In [9]:
dataset['Buy'].unique()

array(['No', 'Yes'], dtype=object)

In [10]:
dataset['Buy'].value_counts()

Yes    6
No     4
Name: Buy, dtype: int64

### Compute Entropy of Dataset

In [11]:
# write the code for missing place
import math
tot = len(dataset)
tot_n = 4
tot_y = 6
prob_y = tot_y/tot
prob_n = tot_n/tot
print(prob_y, prob_n)
H_tot = (-0.6 * math.log(0.6,2) )- (0.4* math.log(0.4,2))
print(H_tot)

0.6 0.4
0.9709505944546686

## Compute Entroyp of Each label of the Attribute `Outlook`

### `SUV`

In [12]:
dataset

#print(H_outlook_sunny)

    Type Price  Buy
0    SUV     H   No
1     HB     H   No
2     HB     H  Yes
3     HB     L   No
4  SEDAN     H  Yes
5  SEDAN     L  Yes
6    SUV     L   No
7  SEDAN     H  Yes
8     HB     L  Yes
9    SUV   Hot  Yes

In [13]:
suv=3
suv_y=1
suv_n=2
p_suv_y=suv_y/suv
p_suv_n=suv_n/suv
print(p_suv_y)
print(p_suv_n)
Hp_suv= (-0.3333333333333333 * math.log(0.3333333333333333,2) )- (0.6666666666666666* math.log(0.6666666666666666,2))
print(Hp_suv)

0.3333333333333333
0.6666666666666666
0.9182958340544896

# HB

In [14]:

HB=4
HB_y=2
HB_n=2
p_HB_y=HB_y/HB
p_HB_n=HB_n/HB
print(p_HB_y)
print(p_HB_n)
Hp_HB= (-0.5 * math.log(0.5,2) )- (0.5* math.log(0.5,2))
print(Hp_HB)

0.5
0.5
1.0

# SEDAN

In [25]:
dataset
Sedan=3
Sedan_y=3
Sedan_n=0
p_Sedan_y=Sedan_y/suv
p_Sedan_n=Sedan_n/suv
print(p_Sedan_y)
print(p_Sedan_n)
Hp_Sedan= (-p_Sedan_y * math.log(p_Sedan_y,2))
print(Hp_Sedan)

1.0
0.0
-0.0

In [26]:
dataset
p_suv=3/10
p_HB=4/10
p_Sedan=3/10
I_Cars = p_suv * Hp_suv + p_HB * Hp_HB + p_Sedan * Hp_Sedan
I_Cars

0.6754887502163469

In [29]:
IG=H_tot-I_Cars
IG

0.29546184423832167

# Price

In [31]:
dataset

    Type Price  Buy
0    SUV     H   No
1     HB     H   No
2     HB     H  Yes
3     HB     L   No
4  SEDAN     H  Yes
5  SEDAN     L  Yes
6    SUV     L   No
7  SEDAN     H  Yes
8     HB     L  Yes
9    SUV   Hot  Yes

In [56]:
df_high=dataset[dataset["Price"] == "H"]
df_high

    Type Price  Buy
0    SUV     H   No
1     HB     H   No
2     HB     H  Yes
4  SEDAN     H  Yes
7  SEDAN     H  Yes

In [57]:
tot_high=len(df_high)
tot_h_y=df_high[df_high["Buy"]== "Yes"].shape[0]
tot_h_n=df_high[df_high["Buy"]== "No"].shape[0]
p_h_y=tot_h_y/tot_high
p_h_n=tot_h_n/tot_high

en_high=-(p_h_y*  math.log(p_h_y,2)) -((p_h_n*  math.log(p_h_n,2)))
en_high

0.9709505944546686

In [58]:
df_Low=dataset[dataset["Price"] == "L"]
df_Low

    Type Price  Buy
3     HB     L   No
5  SEDAN     L  Yes
6    SUV     L   No
8     HB     L  Yes

In [63]:
tot_Low=len(df_Low)
tot_l_y=df_Low[df_Low["Buy"]== "Yes"].shape[0]
tot_l_n=df_Low[df_Low["Buy"]== "No"].shape[0]
p_l_y=tot_l_y/tot_Low
p_l_n=tot_l_n/tot_Low

en_Low=-(p_l_y*  math.log(p_l_y,2)) -((p_l_n*  math.log(p_l_n,2)))
en_Low

1.0

In [72]:
p_high=len(df_high)/len(dataset)
p_low=len(df_Low)/len(dataset)
print(p_high)
print(p_low)

0.5
0.4

In [69]:
W_C_Price=p_high*en_high + p_low * en_Low
W_C_Price

0.8854752972273343

In [68]:
IG_Price= H_tot-W_C_Price
IG_Price

0.08547529722733427